.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.player__name {
  font-size: 1.2rem;
  font-weight: 700;
}
.player__score {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.player__score p {
  min-width: 100px;
  text-align: center;
  border: 1px dotted #333;
  padding: 9px 10px;
  line-height: 22px;
  border-radius: 21px;
}
.player__score button {
  border: none;
  background: #333;
  color: #fff;
  padding: 10px;
  line-height: 22px;
  border-radius: 100%;
  width: 42px;
  height: 42px;
}
